



/*
 * Layout: Travel
 * $Id: styles.css 35950 2016-01-25 12:40:45Z sseiz $
 * Copyright Zeta Software GmbH 2014
 */
/***** TAGS *****/
html {
	overflow-y: scroll;
}
body {
	font-family: Verdana;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #0C0C0D;
	background-color: #FFFFFF;
	background-image: url(stock-images/noise.png);
}
h1 {
	margin: 0px 0 20px 0;
	padding: 0 0 20px 0;
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
	text-transform: uppercase;
	color: #00B552;
	text-shadow: 1px 1px 1px #FFFFFF;
	background-image: url(stock-images/contentline.png);
	background-repeat: repeat-x;
	background-position: bottom;
}
h2 {
	margin: 15px 0 15px 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	color: #242428;
	text-shadow: 1px 1px 1px #ffffff;
}
h3, h4, h5, h6 {
	margin: 5px 0 5px 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	color: #242428;
}
p {
	margin: 0 0 15px 0;
	padding: 0;
}
ul, ol {
	margin: 0 0 15px 25px;
	padding: 0;
}
ul li {
	margin: 0;
	padding: 0;
	list-style: disc;
}
ol li {
	margin: 0;
	padding: 0;
	list-style: decimal;
}
table {
	margin: 0 0 15px 0;
	padding: 0;
}
td {
	vertical-align: top;
}
img {
	margin: 0;
	padding: 0;
	border-style: none;
}
/***** LINKS *****/
a {
	color: #0C0C0D;
	text-decoration: none;
}
a:hover {
	color: #E3341C;
	text-decoration: underline;
}
/***** TOP *****/
#top {
	margin: 0;
	padding: 0;
}
/***** BODYBOX *****/
#bodybox {
	margin: 0;
	padding: 0;
	min-width: 1080px;
	background-color: #FEF9C0;
	background-image: url();
}
/***** LINE *****/
#line {
	margin: 0;
	padding: 0;
	background-image: url(stock-images/opacity.png);
	background-repeat: repeat-x;
}
/***** WRAPPER *****/
#wrapper {
	margin: 0 auto;
	padding: 10px 40px 0 40px;
	width: 1000px;
}
/***** TOPLINE *****/
#topline {
	margin: 0;
	padding: 20px 10px;
	min-height: 40px;
	position: relative;
}
/***** WEBDESCRIPTION *****/
#webdescription {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#logo {
	float: left;
	margin: 0 20px 0 0;
	padding: 0px 0 0 0;
}
#webtext {
	float: left;
	margin: 0;
	padding: 10px 4px 0 0;
}
#webname {
	font-family: Verdana;
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-shadow: 1px 1px 2px #ffffff;
}
#webname a {
	color: #00B552;
	text-decoration: none;
}
#slogan {
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-weight: normal;
	color: #00B552;
	text-transform: none;
	text-shadow: 1px 1px 1px #ffffff;
}
/***** EXTRAMENU *****/
#xmenu, #xmenuright {
	margin: 0;
	padding: 0;
	position: absolute !important;
	top: 48px;
	right: 230px;
}
#xmenuright {
	right: 0;
}
#xmenu span, #xmenuright span {
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0;
}
#xmenu span.row-separator, #xmenuright span.row-separator {
	width: 2px;
	background-image: url(stock-images/menuline.png);
	background-repeat: repeat-y;
}
#xmenu a, #xmenuright a {
	margin: 0;
	padding: 0 10px;
	font-size: 14px;
	font-weight: normal;
	color: #242428;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #FFFFFF;
	text-decoration: underline;
}
#xmenu a:hover, #xmenuright a:hover {
	color: #0C0C0D;
	text-decoration: none;
}
/***** SEARCH *****/
#search {
	margin: 0;
	padding: 0;
	position: absolute !important;
	top: 44px;
	right: 10px;
}
#searchform {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 23px;
	position: relative;
}
#searchform input {
	font-family: Verdana;
}
#searchfieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
#searchfield {
	margin: 0;
	padding: 0 5px 0 23px;
	width: 102px;
	height: 23px;
	border: 0;
	font-size: 14px;
	color: #0C0C0D;
	background-color: #FFFFFF;
	background-image: url(../assets/stock-images/magnifier.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#searchbutton {
	margin: 0;
	padding: 0;
	width: 70px;
	height: 23px;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0C0C0D;
	background-color: #FFFFFF;
	background-image: url(stock-images/noise.png);
	position: absolute;
	top: 0;
	right: 0;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#searchbutton:hover {
	cursor: pointer;
	color: #0C0C0D;
	background-color: #FFFFFF;
}
/***** FRAMEBOX *****/
#framebox {
	margin: 0;
	padding: 10px 10px 0 10px;
	background-image: url(stock-images/opacity.png);
	position: relative;
}
/***** NAVBAR *****/
#navbar {
	margin: 0;
	padding: 0 10px;
	width: 960px;
	height: 45px;
	background-color: #F8CA07;
	background-image: url(stock-images/noise.png);
	position: relative;
	z-index: 999;
}
/***** MAINMENU *****/
ul.mainmenu {
	margin: 0;
	padding: 0;
}
ul.mainmenu li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	list-style: none;
	position: relative;
	background-color: transparent;
}
ul.mainmenu li.row-separator, ul.mainmenu li.row-separator:hover {
	padding: 0;
	width: 2px;
	height: 45px;
	background-image: url(stock-images/menuline.png);
	background-repeat: repeat-y;
}
ul.mainmenu li.row-separator:hover {
	background-color: transparent;
}
ul.mainmenu li:hover, ul.mainmenu li.topmenuactive {
	background-color: #FEF9C0;
	background-image: url(stock-images/noise.png);
}
ul.mainmenu li.topmenuactive {
	background-color: #FEF9C0;
}
ul.mainmenu li:hover a {
	color: #00B552;
}
ul.mainmenu li.topmenuactive:hover a, ul.mainmenu li.topmenuactive a {
	color: #00B552;
}
ul.mainmenu li a {
	display: block;
	margin: 0;
	padding: 15px 15px 0 30px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	color: #00B552;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	text-shadow: 1px 1px 1px transparent;
}
ul.mainmenu li a.sf-with-ul {
	background: url(../assets/stock-images/arrow.png) no-repeat right;
}
.sf-sub-indicator {
	display: none;
}
/***** DROPDOWN *****/
ul.mainmenu ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: -99999px;
	left: 0;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
ul.mainmenu ul li {
	float: none;
	padding: 1px;
	background-color: transparent !important;
	background-image: url(stock-images/opacity.png) !important;
}
ul.mainmenu ul span.row-separator, ul.mainmenu ul span.row-separator:hover {
	display: block;
	margin: 0;
	padding: 0;
	height: 2px;
	background-color: #FFFFFF;
	background-image: url(stock-images/dropline.png);
	background-repeat: repeat-x;
}
ul.mainmenu ul li span {
	display: block;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	background-image: url(stock-images/noise.png);
}
ul.mainmenu ul li span:hover {
	background-color: #FFFFFF;
}
ul.mainmenu ul li span.dropdownactive {
	background-color: #FFFFFF;
}
ul.mainmenu ul li span a {
	padding: 8px 30px;
	height: auto;
	font-size: 14px;
	color: #242428 !important;
	text-shadow: 1px 1px 1px #FFFFFF !important;
}
ul.mainmenu ul li span:hover a {
	color: #00B552 !important;
}
ul.mainmenu ul li span.dropdownactive a {
	color: #0C0C0D !important;
}
ul.mainmenu li:hover ul, ul.mainmenu li.sfHover ul {
	top: 45px;
	left: -1px;
	z-index: 299;
}
/***** SUBNAV1 *****/
ul.submenu {
	margin: 0 0 20px 0;
	padding: 0;
}
ul.submenu li {
	margin: 0;
	padding: 10px 0 12px 0;
	list-style: none;
	background-image: url(stock-images/contentline.png);
	background-repeat: repeat-x;
	background-position: bottom;
}
ul.submenu li a {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #0C0C0D;
	text-decoration: none;
	text-shadow: 1px 1px 1px transparent !important;
	white-space: nowrap;
}
ul.submenu li a:hover {
	color: #0C0C0D;
	text-decoration: underline;
}
ul.submenu li a.subnav1active {
	font-weight: bold;
	color: #00B552;
	text-decoration: none;
}
ul.submenu li a.subnav1active:hover {
	text-decoration: underline;
}
ul.submenu li span {
	display: block;
	float: left;
	padding: 0 8px 0 0;
	line-height: 13px;
	font-size: 16px;
	color: #242428;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #ffffff;
}
/***** SUBNAV2 *****/
ul.submenu ul {
	margin: 0;
	padding: 5px 0 10px 13px;
}
ul.submenu ul li {
	padding: 0 0 5px 0;
	background-image: none;
}
ul.submenu ul li a {
	font-size: 16px;
	color: #E3341C;
	text-decoration: none;
	text-shadow: 1px 1px 1px #ffffff !important;
}
ul.submenu ul li a:hover {
	color: #E3341C;
	text-decoration: underline;
}
ul.submenu ul li a.subnav2active {
	font-weight: normal;
	color: #e95d49;
	text-decoration: none;
}
ul.submenu ul li a.subnav2active:hover {
	text-decoration: underline;
}
/***** RADIUS *****/
#navbar, #framebox, .newsbox h2 {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
/***** INSET SHADOW *****/
ul.mainmenu li.topmenuactive, ul.mainmenu ul li span.dropdownactive, .newsbox h2, #contentbox a.button span, input.button {
	-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}
/***** FLEXSLIDER *****/
.flexslider {
	margin: 0 !important;
	border: 0 !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	border-radius: 0px !important;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
	-o-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
}
.flexslider ul.slides li {
	position: relative;
	list-style: none;
}
.flex-caption {
	width: 980px;
	padding: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 12px;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.flex-caption h1, .flex-caption h2, .flex-caption h3 {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 0px 0px transparent;
	text-transform: none;
	background-image: none;
}
.flex-caption p {
	margin: 0;
	padding: 0;
}
.flex-caption a {
	color: #ffffff;
	text-decoration: underline;
}
.flex-caption a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.flex-direction-nav li {
	list-style: none !important;
}
.flex-control-nav {
	right: 6px !important;
	bottom: 6px !important;
	text-align: right !important;
	overflow: hidden !important;
}
.flex-control-nav li {
	margin: 0 3px !important;
}
.flex-control-paging li a {
	background: #ffffff  !important;
	background: rgba(255, 255, 255, 0.5) !important;
	text-indent: 9999px !important;
}
.flex-control-paging li a.flex-active {
	background: #ffffff !important;
	background: rgba(255, 255, 255, 0.9) !important;
}
/***** WEBBOX *****/
#webbox, #webboxplus {
	margin: 0;
	padding: 20px 20px 40px 20px;
	background-color: #FFFFFF;
	background-image: url();
	position: relative;
	z-index: 98;
}
#webboxplus {
	padding: 40px 20px 40px 20px;
}
/***** BREADCRUMB *****/
#breadcrumb {
	margin: 0 0 40px 0;
	padding: 0 20px 0 0;
	font-size: 12px;
	color: #0C0C0D;
}
#breadcrumb a {
	padding: 0 5px;
	color: #E3341C;
	text-decoration: none;
	text-shadow: 1px 1px 1px #ffffff;
}
#breadcrumb a:hover {
	color: #E3341C;
	text-decoration: underline;
}
#breadcrumb span {
	font-size: 16px;
	color: #0C0C0D;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #ffffff;
}
/***** CONTENTBOX *****/
#contentbox {
	margin: 0;
	padding: 0;
}
#contentbox a {
	text-shadow: 1px 1px 1px #ffffff;
}
#contentbox input[type="text"], #contentbox textarea {
	font-family: Verdana;
	font-size: 18px;
	color: #0C0C0D;
}
/***** BUTTON *****/
#contentbox a.button, input.button {
	display: inline-block;
	margin: 0 15px 0 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	line-height: normal;
	color: #e0e2e5;
	text-shadow: 1px 1px 1px #0c0c0d !important;
	background-color: #242428;
	background-image: url(stock-images/noise.png);
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#contentbox #sidebarright a.button, #contentbox #sidebarleft a.button, input.button {
	margin: 0 10px 0px 0;
}
#contentbox a.button:hover, input.button:hover {
	color: #0C0C0D;
	background-color: #FFFFFF;
}
#contentbox a.button span, input.button {
	display: block;
	margin: 0;
	padding: 5px 10px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}
/***** CONTENT *****/
#floatcontentleft, #floatcontentright {
	float: left;
	margin: 0 20px 0 0;
	padding: 0;
	width: 690px;
	line-height: 16px;
}
#floatcontentright {
	float: right;
    margin: 0 0 0 20px;
}
#content {
	margin: 0;
	padding: 0;
	line-height: 16px;
}
#floatcontentleft.boxshadow img, #floatcontentright.boxshadow img, #content.boxshadow img {
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
/***** SIDEBAR *****/
#sidebarright, #sidebarleft {
	float: right;
	margin: 0;
	padding: 0 0 0 20px;
	width: 210px;
	overflow: hidden;
}
#sidebarleft {
	float: left;
	padding: 0 20px 0 0;
}
#sidebarright.boxshadow img, #sidebarleft.boxshadow img {
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.zpWeatherWidget img{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
/***** NEWS *****/
.news {
	margin: 0 0 0px 0;
	line-height: 21px;
}
.news .articlearea {
	padding: 0;
}
.news .newsbox {
	padding: 0;
}
.news h2 {
	margin: 0;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: bold;
	color: #0C0C0D;
	text-shadow: 1px 1px 1px transparent;
	background-color: #242428;
	background-image: url(stock-images/noise.png);
}
.newstext {
	margin: 0;
	padding: 10px;
	font-size: 12px;
	color: #0C0C0D;
	background-color: #f1f2f3;
	background-image: url(../assets/bluehendes-barock-006.jpg);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
.newstext p {
	margin: 0 0 15px 0;
}
.newstext a {
	color: #E3341C;
	text-decoration: none;
	text-shadow: 1px 1px 1px #ffffff !important;
}
.newstext a:hover {
	color: #E3341C;
	text-decoration: underline;
}
/***** ARTICLES *****/
.articlearea {
	margin: 0;
	padding: 0;
}
.articleimage {
	margin: 0;
	padding: 4px 0 0 0;
}
.articletext {
	margin: 0;
	padding: 0;
}
.twocolumnleft {
	float: left;
	margin: 0;
	padding: 0;
}
.twocolumnleft > div {
	margin: 0;
	padding: 0 12px 0 0;
}
.twocolumnright {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.twocolumnright > div {
	margin: 0;
	padding: 0 0 0 12px;
}
.bildunterschrift {
	display: block;
	color: #0C0C0D;
}
.floatarticle {
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.floatarticle > div {
	margin: 0;
	padding: 0 20px 0 0;
}
/***** FORM *****/
.zp-form {
	display: inline-block;
	margin: 0;
	padding: 0 0 10px 0;
}
.zp-form p {
	margin: 0;
	padding: 0;
}
.zp-form table {
	margin: 0;
	padding: 0;
}
.zp-form td {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	vertical-align: middle;
}
.zp-form input.button {
	padding: 5px 10px;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.zp-form input[type="text"], .zp-form input[type="number"], .zp-form input[type="email"], .zp-form input[type="tel"], .zp-form input[type="url"], .zp-form input[type="date"], .zp-form input[type="time"], .zp-form input[type="color"], .zp-form input[type="search"], .zp-form textarea, .zp-form select {
	font-family: Verdana;
	font-size: 18px;
	color: #0C0C0D;
}
.zp-form .label, .zp-form .field {
	padding: 3px 10px 3px 0;
}
.zp-form .desc {
	padding: 10px 10px 10px 0;
}
.zp-form .multiline {
	padding: 4px 10px 0 0;
	vertical-align: top;
}
.zp-form .submit {
	padding: 0;
}
.zp-form .separator {
	margin: 10px 10px 10px 0;
	padding: 0;
	line-height: 1px;
	height: 1px;
	border-bottom: 1px solid #0C0C0D;
}
/***** TEASER *****/
#banner {
	margin: 0;
	padding: 20px 10px;
	font-size: 16px;
	color: #0C0C0D;
	line-height: 16px;
}
#afterfooter {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 16px;
	min-width: 1080px;
	color: #ffffff;
	background-color: #242428;
	background-image: url(stock-images/noise.png);
}
#afterfooter .footerline {
	margin: 0;
	padding: 0;
	background-image: url(stock-images/dropline.png);
	background-repeat: repeat-x;
	background-position: bottom;
}
#afterfooter .wrapper {
	margin: 0 auto;
	padding: 20px 50px;
	width: 980px;
}
#afterfooter .wrapper a {
	color: #ffffff;
	text-decoration: none;
}
#afterfooter .wrapper a:hover {
	color: #ffffff;
	text-decoration: underline;
}
#banner span:not([style]), #afterfooter .wrapper span {
	display: block;
	margin: 0 0 5px 0;
	padding: 0;
	font-weight: bold;
}
#banner p, #afterfooter .wrapper p {
	margin: 0;
	padding: 0;
}
/***** FOOTER *****/
#footer {
	margin: 0;
	padding: 0;
}
#bottomfooter {
	margin: 0;
	padding: 0;
	color: #0C0C0D;
	font-size: 12px;
}
#bottomfooter .wrapper {
	margin: 0 auto;
	padding: 20px 40px;
	width: 1000px;
}
#bottomfooter .wrapper a {
	color: #ffffff;
	text-decoration: none;
}
#bottomfooter .wrapper a:hover {
	color: #ffffff;
	text-decoration: underline;
}
#footermenu {
	margin: 0 0 5px 0;
	padding: 0;
}
#footermenu span.row-separator {
	width: 2px;
	background-image: url(stock-images/menuline.png);
	background-repeat: repeat-y;
}
#footermenu a {
	padding: 0 10px;
}
#footerinfo {
	margin: 0;
	padding: 0 10px;
}
/***** ONLINESHOP *****/
.zpSO-OnlineShop-table {
	width: 100%;
}
.zpSO-OnlineShop-table th {
	margin: 0;
	padding: 5px 10px;
	font-weight: bold;
	text-align: left;
	color: #00B552;
	background-color: #F8CA07;
}
.zpSO-OnlineShop-table td {
	margin: 0;
	padding: 5px 10px;
	text-align: left;
}
.zpSO-OnlineShop-row1 td, .zpSO-OnlineShop-row2 td {
	margin: 0;
	padding: 5px 10px;
	text-align: left;
}
.zpSO-OnlineShop-row2 td {
	background-image: url(stock-images/opacity.png);
}
/***** ZP *****/
.zp {
	color: #0C0C0D !important;
	text-decoration: none !important;
}
/***** CLEAR *****/
.clear {
	clear: both;
}
.clearx {
	clear: both;
	margin: 0;
	padding: 0;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
/***** FORM ANTI SPAM *****/
.asfield {
	display: none;
}

div.zpRow.news {
	margin-bottom: 0px;
}

/*** CSS for Print ***/
@media print {
	body {
		font-family: Arial, sans-serif;
		font-size: 12pt;
		color: #000000;
		background-color: #ffffff;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000000;
		page-break-after: avoid;
		font-size: 21pt;
	}
	h1 {
		page-break-before: always;
	}
	h2 {
		font-size: 16pt;
	}
	h3, h4, h5, h6 {
		font-size: 12pt;
	}
	ul, ol {
		page-break-inside: avoid;
	}
	img {
		page-break-inside: avoid;
		max-width: 75%;
	}
	/* Links */
	a, a:hover {
		color: #000000;
		text-decoration: none;
	}
	/* Wrapper */
	#wrapper {
		margin: 0;
		padding: 0;
		width: auto;
	}
	/* Framebox */
	#framebox {
		padding: 0;
		background-image: none;
	}
	/* Content */
	#floatcontentleft, #floatcontentright {
		float: none;
		width: auto;
		line-height: normal;
	}
	#content {
		line-height: normal;
	}
	/* Articles */
	.bildunterschrift {
		color: #000000;
	}
	/* Display None */
	#banner, #topline, #navbar, .flexslider, #breadcrumb, #sidebarright, #sidebarleft,  .button, #footer {
		display: none !important;
	}
	@page {
		margin: 2cm;
	}
}
/* ZP-Grid */
.zpgrid{
	margin-left: -15px;
	margin-right: -15px;
}
.zpContainer.styled div.zpRow .zpColumn {
    margin-top: 1em;
}
.zpContainer.zpBreakout {
    padding: 0 !important;
}
.zpContainer.zpBreakout .zpRow {
    max-width: 1000px !important;
}
#framebox .zpContainer.zpBreakout {
    width: auto !important;
    max-width: none !important;
    margin: 0 -5px !important;
    padding: 0 10px !important;
}
#floatcontentleft .zpContainer.zpBreakout,
#floatcontentright .zpContainer.zpBreakout {
    margin: 0 !important;
    padding: 0 !important;
}
#framebox .zpContainer.zpBreakout .zpRow {
    width: auto !important;
    max-width: none !important;
}
#sidebarright div.zpRow .zpColumn,
#sidebarleft div.zpRow .zpColumn {
    padding: 0;
}

body.plain #line{background: transparent;}
body.plain #webboxplus{padding: 20px;}



















