/* Sanitize and default Values in case #val() Values from ZPp are empty or not plain numbers */
/* BEGIN ZP 12 Grid Style */

/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L18 */
div.zpRow {
  margin-bottom: 15px;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L21 */
div.zpRow:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L29 */
div.zpRow div.zpColumn img.singleImage {
  max-width: 100% !important;
  height: auto !important;
  display: inline-block;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L34 */
div.zpRow div.zpColumn .zpImageGallery img.singleImage {
  display: block;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L38 */
div.zpRow div.zpColumn .zpImageGallery a.fancybox {
  max-width: 100%;
  /* Bugfix to keep image responsive in IE11 */

}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L42 */
div.zpRow div.zpColumn div.zpColumnItem {
  display: block;
  float: left;
  padding: 0;
}
/* Media Queries */

@media print {
  /* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L49 */
  div.zpRow {
    margin-bottom: 0 !important;
  }
  /* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L52 */
  div.zpRow div.zpColumn {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 15px !important;
  }
}
/* END ZP 12 Grid Style */

/* Remove eventual borders from 1px images */

/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L62 */
img[width="1px"],
img[width="1"],
.plain > img,
img.plain {
  border: none !important;
  box-shadow: none !important;
}
/* ADDED StS ZP 13 Grid */

/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L71 */
div.zpRow .zpColumn {
  margin-bottom: 1em;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L74 */
div.zpRow .zpColumn,
.zpColumnItem {
  box-sizing: border-box;
  /* IE Bugfix */
  max-width: 100%;
  /* IE Bugfix */

}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L79 */
.zpColumnItem {
  width: 100%;
  /* fill enclosing zpColumn, so inline editing resizing refletcs the column and not the columnItem */

}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L82 */
div.zpRow .zpColumn {
  padding: 0 15px;
}
/* ***** 12-column grid ***** */

/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L87 */
.c1,
.c2,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12 {
  box-sizing: border-box;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c12,
.zpColumnItem.c12 {
  float: left;
  width: 100%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c11,
.zpColumnItem.c11 {
  float: left;
  width: 91.666666667%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c10,
.zpColumnItem.c10 {
  float: left;
  width: 83.333333333%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c9,
.zpColumnItem.c9 {
  float: left;
  width: 75%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c8,
.zpColumnItem.c8 {
  float: left;
  width: 66.666666667%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c7,
.zpColumnItem.c7 {
  float: left;
  width: 58.333333333%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c6,
.zpColumnItem.c6 {
  float: left;
  width: 50%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c5,
.zpColumnItem.c5 {
  float: left;
  width: 41.666666667%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c4,
.zpColumnItem.c4 {
  float: left;
  width: 33.333333333%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c3,
.zpColumnItem.c3 {
  float: left;
  width: 25%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c2,
.zpColumnItem.c2 {
  float: left;
  width: 16.666666667%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L93 */
div.zpRow .zpColumn.c1,
.zpColumnItem.c1 {
  float: left;
  width: 8.333333333%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L108 */
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L110 */
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c1,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c1,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c1,
.zparea[data-numcolumns="8"] .zpColumnItem.c1,
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c2,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c2,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c2,
.zparea[data-numcolumns="8"] .zpColumnItem.c2 {
  float: left;
  width: 12.5%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L117 */
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c3,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c3,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c3,
.zparea[data-numcolumns="8"] .zpColumnItem.c3 {
  float: left;
  width: 25%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L122 */
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c4,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c4,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c4,
.zparea[data-numcolumns="8"] .zpColumnItem.c4,
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c5,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c5,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c5,
.zparea[data-numcolumns="8"] .zpColumnItem.c5 {
  float: left;
  width: 37.5%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L129 */
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c6,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c6,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c6,
.zparea[data-numcolumns="8"] .zpColumnItem.c6 {
  float: left;
  width: 50%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L134 */
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c7,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c7,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c7,
.zparea[data-numcolumns="8"] .zpColumnItem.c7,
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c8,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c8,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c8,
.zparea[data-numcolumns="8"] .zpColumnItem.c8 {
  float: left;
  width: 62.5%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L141 */
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c9,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c9,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c9,
.zparea[data-numcolumns="8"] .zpColumnItem.c9 {
  float: left;
  width: 75%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L146 */
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c10,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c10,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c10,
.zparea[data-numcolumns="8"] .zpColumnItem.c10,
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c11,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c11,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c11,
.zparea[data-numcolumns="8"] .zpColumnItem.c11 {
  float: left;
  width: 87.5%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L153 */
.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c12,
.zparea[data-numcolumns="8"] div.zpRow .zpColumn.c12,
.zpgrid[data-numcolumns="8"] .zpColumnItem.c12,
.zparea[data-numcolumns="8"] .zpColumnItem.c12 {
  float: left;
  width: 100%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L159 */
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L161 */
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c1,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c1,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c1,
.zparea[data-numcolumns="6"] .zpColumnItem.c1,
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c2,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c2,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c2,
.zparea[data-numcolumns="6"] .zpColumnItem.c2 {
  float: left;
  width: 16.666666667%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L167 */
.zpgrid[data-numcolumns="6"] 3 div.zpRow .zpColumn.c3,
.zparea[data-numcolumns="6"] 3 div.zpRow .zpColumn.c3,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c3,
.zparea[data-numcolumns="6"] .zpColumnItem.c3,
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c4,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c4,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c4,
.zparea[data-numcolumns="6"] .zpColumnItem.c4 {
  float: left;
  width: 33.333333333%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L175 */
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c5,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c5,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c5,
.zparea[data-numcolumns="6"] .zpColumnItem.c5,
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c6,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c6,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c6,
.zparea[data-numcolumns="6"] .zpColumnItem.c6 {
  float: left;
  width: 50%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L182 */
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c7,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c7,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c7,
.zparea[data-numcolumns="6"] .zpColumnItem.c7,
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c8,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c8,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c8,
.zparea[data-numcolumns="6"] .zpColumnItem.c8 {
  float: left;
  width: 66.666666667%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L189 */
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c9,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c9,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c9,
.zparea[data-numcolumns="6"] .zpColumnItem.c9,
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c10,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c10,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c10,
.zparea[data-numcolumns="6"] .zpColumnItem.c10 {
  float: left;
  width: 83.333333333%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L196 */
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c11,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c11,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c11,
.zparea[data-numcolumns="6"] .zpColumnItem.c11,
.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c12,
.zparea[data-numcolumns="6"] div.zpRow .zpColumn.c12,
.zpgrid[data-numcolumns="6"] .zpColumnItem.c12,
.zparea[data-numcolumns="6"] .zpColumnItem.c12 {
  float: left;
  width: 100%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L204 */
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L206 */
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c1,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c1,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c1,
.zparea[data-numcolumns="4"] .zpColumnItem.c1,
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c2,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c2,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c2,
.zparea[data-numcolumns="4"] .zpColumnItem.c2,
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c3,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c3,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c3,
.zparea[data-numcolumns="4"] .zpColumnItem.c3 {
  float: left;
  width: 25%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L215 */
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c4,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c4,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c4,
.zparea[data-numcolumns="4"] .zpColumnItem.c4,
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c5,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c5,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c5,
.zparea[data-numcolumns="4"] .zpColumnItem.c5,
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c6,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c6,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c6,
.zparea[data-numcolumns="4"] .zpColumnItem.c6 {
  float: left;
  width: 50%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L224 */
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c7,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c7,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c7,
.zparea[data-numcolumns="4"] .zpColumnItem.c7,
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c8,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c8,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c8,
.zparea[data-numcolumns="4"] .zpColumnItem.c8,
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c9,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c9,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c9,
.zparea[data-numcolumns="4"] .zpColumnItem.c9 {
  float: left;
  width: 75%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L233 */
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c10,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c10,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c10,
.zparea[data-numcolumns="4"] .zpColumnItem.c10,
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c11,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c11,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c11,
.zparea[data-numcolumns="4"] .zpColumnItem.c11,
.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c12,
.zparea[data-numcolumns="4"] div.zpRow .zpColumn.c12,
.zpgrid[data-numcolumns="4"] .zpColumnItem.c12,
.zparea[data-numcolumns="4"] .zpColumnItem.c12 {
  float: left;
  width: 100%;
}
/* *** always scale columns in a .noresize Row (i.e. news columns) *** */

/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L245 */
div.zpRow.noresize .zpColumn.c1,
div.zpRow.noresize .zpColumn.c2,
div.zpRow.noresize .zpColumn.c3,
div.zpRow.noresize .zpColumn.c4,
div.zpRow.noresize .zpColumn.c5,
div.zpRow.noresize .zpColumn.c6,
div.zpRow.noresize .zpColumn.c7,
div.zpRow.noresize .zpColumn.c8,
div.zpRow.noresize .zpColumn.c9,
div.zpRow.noresize .zpColumn.c10,
div.zpRow.noresize .zpColumn.c11,
div.zpRow.noresize .zpColumn.c12 {
  width: 100%;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L259 */
div.zpRow.noresize .zpSpacer {
  clear: both;
}
/* *** 1-Column Breakpoint (iphone 6 landscape) *** */

@media (max-width: 667px) {
  /* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L264 */
  div.zpRow .zpColumn.c1,
  .zpColumnItem.c1,
  div.zpRow .zpColumn.c2,
  .zpColumnItem.c2,
  div.zpRow .zpColumn.c3,
  .zpColumnItem.c3,
  div.zpRow .zpColumn.c4,
  .zpColumnItem.c4,
  div.zpRow .zpColumn.c5,
  .zpColumnItem.c5,
  div.zpRow .zpColumn.c6,
  .zpColumnItem.c6,
  div.zpRow .zpColumn.c7,
  .zpColumnItem.c7,
  div.zpRow .zpColumn.c8,
  .zpColumnItem.c8,
  div.zpRow .zpColumn.c9,
  .zpColumnItem.c9,
  div.zpRow .zpColumn.c10,
  .zpColumnItem.c10,
  div.zpRow .zpColumn.c11,
  .zpColumnItem.c11,
  div.zpRow .zpColumn.c12,
  .zpColumnItem.c12 {
    width: 100% !important;
  }
  /* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L279 */
  .zpSpacer {
    clear: both;
  }
}
/* Breakout Styles for layouts which don't support them edge to edge */

/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L285 */
body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L289 */
body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) + .zpContainer:not(.zpBreakout) {
  margin-top: 15px;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L292 */
body:not(.withnews) .zpBreakout:not(.hasNews) .zpRow {
  width: 100%;
  margin: 0 auto;
  float: none;
}
/* Breakout Styles for responsive layouts which support them edge to edge */

/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L297 */
.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) {
  /* we don't use overflow hidden on body to avoid horizontal scrollbar because dropdown menues (e.g. on the far right) might need an overflow */
  width: calc(100vw - 9px);
  /* -9px compensates possible scrollbar Safari: -8, Chrome: -9 */
  margin-left: calc(-50vw + 50%);
  box-sizing: border-box;
  padding: 15px 0 15px 9px;
  /* padding-left is equal to amount to compensate scrollbar */

}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L304 */
.responsivelayout.supportsbreakout body.touch:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) {
  width: 100vw;
  /* Do not compensate on transparent Scrollbars on touch devices like e.g. the ipad. */

}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L307 */
.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) + .zpContainer:not(.zpBreakout) {
  margin-top: 15px;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L310 */
.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) > .zpRow {
  max-width: 970px;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L315 */
.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) + .zpRow {
  margin-top: 15px;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L319 */
.responsivelayout.supportsbreakout body:not(.withnews) .span8 .zpContainer.zpBreakout:not(.hasNews) {
  margin-left: calc(-50vw + 77%);
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L324 */
.supportsbreakout body:not(.withnews) .zpColumn .zpBreakout:not(.hasNews) {
  /* we don't use overflow hidden on body to avoid horizontal scrollbar because dropdown menues (e.g. on the far right) might need an overflow */
  width: calc(91vw);
  /* -9px compensates possible scrollbar Safari: -8, Chrome: -9 */
  margin-left: calc(0vw);
  /* Todo: this might break if less compression is used! */
  box-sizing: border-box;
  padding: 0;
  /* padding-left is equal to amount to compensate scrollbar */
  overflow: hidden !important;
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L334 */
.zpVerticalCenter,
div.zpRow.zpVerticalCenter,
div.zpRow .zpVerticalCenter,
div.zpRow .zpColumn.zpVerticalCenter,
div.zpRow .zpColumn .zpVerticalCenter {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L352 */
.zpwSpacer {
  visibility: hidden;
  box-sizing: border-box;
  height: 30px;
  margin: 0 !important;
}
/*
.zpgrid,
.zpgrid #grid {
  max-width: @contentcopy-max-image-width + 30px;
}
*/

/* C:\Users\Peiskar\AppData\Local\Zeta Producer 13\packaging\layouts\_shared\assets\zpgrid.less:L368 */
.zpgrid.copiedlayout {
  margin-left: -15px;
  margin-right: -15px;
}
